.full-diver {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://asunaxran.github.io/memory-cards-sao/images/bg3.jpg");
}